<%- include('./partials/header') %>

        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <h1>Home page</h1>
    </body>
</html>
